# Introduction: for and while loops
---
The **for** statement is used to **iterate** over the elements of a sequence. It's 
used when you have a piece of code which you want to repeat n number of times. 
You can use any object (such as strings, arrays, lists, tuples, dict and so on) 
in a for loop in Python.

The **while** loop tells the computer to do something as long as a condition is met. 
A while loop consists of a block of code and a condition. The condition 
is evaluated, and if the condition is true, the code within the
block is executed. This repeats until the condition becomes false. 

[for and while loops](http://www.pythonforbeginners.com/control-flow-2/python-for-and-while-loops)
[for and while loops](http://www.cyberciti.biz/faq/python-for-loop-examples-statements/)

# While Loops
---
```python
truth_test = True
while truth_test:
    print('hello')
```
This is an example of a **while** loop. While loops continue to run until the expression after `while` evaluates to `False`. In the example above, the loop will continue to run ad infinitum because we never change `truth_test` be `False` in our block.

Now it's time for some practice. We'll create a `while` loop in conjunction with the `input` function to create the following program:
![](http://snag.gy/WsiZu.jpg)

In [1]:
name = input("What is your name? ")

What is your name? Lebron James

In [2]:
name

'Lebron James'

In [3]:
snake_bite_you = 'No'

while snake_bite_you == 'No':
    snake_bite_you = input('Did the snake bite you? ').capitalize()
    print('Poke with stick')

print('Go to the Hospital')

Did the snake bite you? No
Poke with stick
Did the snake bite you? Yes
Poke with stick
Go to the Hospital

In [4]:
truth_test = True
while truth_test:
    print('hello')
    truth_test = False

hello

Remember, a while loop runs until the expression is `False`. The problem is, sometimes they don't stop. To avoid this, here are some rules to follow:

1. Make sure that you use while loops sparingly. Usually a for loop is better.
2. Review your while statements and make sure that the boolean test will become False at some point.
3. When in doubt, print out your test variable at the top and bottom of the while-loop to see what it's doing.

# For Loops
---
```python
for count in [1, 2, 3]: 
    print(count) 
    print('Yes' * count) 
```

This is a **for** loop. It has the heading starting with **for**, followed by a 
variable name (count in this case), the word **in**, some sequence, and a final colon. 
As with function definitions and other heading lines, the **colon** at the end of 
the line indicates that a consistently **indented block** of statements follows 
to complete the for loop.

In [5]:
list(range(20+1))[0::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
for i in list(range(20+1))[0::2]:
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [7]:
for number in range(20+1):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [8]:
'Yes' * 2

'YesYes'

In [9]:
for i in [1, 2, 3]: 
    print(i) 
    print('Yes' * i)
    print('')

1
Yes

2
YesYes

3
YesYesYes

In [10]:
for _ in range(10):
    print('Poke Snake')

Poke Snake
Poke Snake
Poke Snake
Poke Snake
Poke Snake
Poke Snake
Poke Snake
Poke Snake
Poke Snake
Poke Snake

In [11]:
True is True

True

In [12]:
if True == True:
    print('Yay')

Yay

In [13]:
'ball' in 'football'

True

In [14]:
thing = True
thing = False
thing = 1
thing = 2
thing = 0
thing = ['Things', 'Things']
thing = []
thing = None

if thing:
    print("Yay")
else:
    print('Not a thing')

Not a thing

In [15]:
sports = ['football', 'basketball', 'hockey', 'tennis', 'baseball']

sport = 'football'

hilight_sports = []
for sport in sports:
    if 'ball' in sport:
        hilight_sports.append(sport.upper())
    else:
        hilight_sports.append(sport)

hilight_sports

['FOOTBALL', 'BASKETBALL', 'hockey', 'tennis', 'BASEBALL']

Let's try a simple repeat **for** loop. A repeat loop is for when you just want to repeat the exact same 
thing a specific number of times. In that case only the length of the sequence, 
not the individual elements are important. For this, we can use use the `range` function to create our sequence. 

In the block below, use `range` to create a for loop that prints **Hello** 100 times.

In [16]:
for _ in range(100):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

We've mostly played it safe with list sequences.  Let's try looping through the letters in a word:

```python
word = "computer"
```

How do we do this?

In [17]:
word = "computer"
for letter in word:
    if letter in 'aeiou':
        print('huzzah')
    print(letter)

c
huzzah
o
m
p
huzzah
u
t
huzzah
e
r

In [18]:
dna = 'AGCTCGTCT'
rna = []

for nucleotide in dna:
    if nucleotide == 'T':
        rna.append('U')
    else:
        rna.append(nucleotide)
rna

['A', 'G', 'C', 'U', 'C', 'G', 'U', 'C', 'U']

## Looping through dictionaries

You can also loop through the key/value pairs in a dictionary. 

To see this in action, create a dictionary called `user` with the keys `'first_name'` and `'last_name'`

In [19]:
food = {
    'home': ['kavitha', 'masterbrin'],
    'nothing': ['athing'],
    'kings': ['moneymoney'],
    'mcdonalds': ['noyou', 'frankthetank'],
    'gusto': ['abba']
}

In [20]:
food.keys()

dict_keys(['home', 'nothing', 'kings', 'mcdonalds', 'gusto'])

In [21]:
food.values()

dict_values([['kavitha', 'masterbrin'], ['athing'], ['moneymoney'], ['noyou', 'frankthetank'], ['abba']])

In [22]:
def add_flag(name):
    # print('Adding Flag to Name')
    return f'{name} ðŸ‡¨ðŸ‡¦'

In [23]:
add_flag('Wayne Gretzky')

'Wayne Gretzky ðŸ‡¨ðŸ‡¦'

In [24]:
classroom = []
for food_place, people in list(food.items()):
    for person in people:
        print('Adding Flag to Name...')
        p = add_flag(person)
        classroom.append(p)

Adding Flag to Name...
Adding Flag to Name...
Adding Flag to Name...
Adding Flag to Name...
Adding Flag to Name...
Adding Flag to Name...
Adding Flag to Name...

In [25]:
for thing in food.items():
    print(thing)

('home', ['kavitha', 'masterbrin'])
('nothing', ['athing'])
('kings', ['moneymoney'])
('mcdonalds', ['noyou', 'frankthetank'])
('gusto', ['abba'])

In [26]:
classroom

['kavitha ðŸ‡¨ðŸ‡¦',
 'masterbrin ðŸ‡¨ðŸ‡¦',
 'athing ðŸ‡¨ðŸ‡¦',
 'moneymoney ðŸ‡¨ðŸ‡¦',
 'noyou ðŸ‡¨ðŸ‡¦',
 'frankthetank ðŸ‡¨ðŸ‡¦',
 'abba ðŸ‡¨ðŸ‡¦']

In [27]:
list(food.values())

[['kavitha', 'masterbrin'],
 ['athing'],
 ['moneymoney'],
 ['noyou', 'frankthetank'],
 ['abba']]

In [28]:
places  = list(food.keys())

In [29]:
names = list(food.values())

In [30]:
place, name = ('k&k', ['yue'])
print(place)
print(name)

k&k
['yue']

In [31]:
list(food.items())

[('home', ['kavitha', 'masterbrin']),
 ('nothing', ['athing']),
 ('kings', ['moneymoney']),
 ('mcdonalds', ['noyou', 'frankthetank']),
 ('gusto', ['abba'])]

In [32]:
for place, place_type in [('a&w', 'burger'), ('k&k', 'vege'), ('home', 'IDK')]:
    print(place)
    print('\n')
    print(place_type)
    print('\n')

a&w


burger


k&k


vege


home


IDK

In [33]:
('a&w', 'burger')

('a&w', 'burger')

In [34]:
names = []
places = []

for key, value in food.items():
    places.append(key)
    names.extend(value)

In [35]:
'manjeet' in names

False

Dictionaries have a method called `items()` specifically for looping. We'll use that in conjunction with a for loop to iterate over the key/value pairs in our `user` dictionary.

# Mapping
---
Mapping is when you have a list, but you need to make changes to the items in that list. In python, we'll use list comprehension to do this.

To illustrate mapping, let's create an array of strings for each person in the classroom: 'student' and 'teacher'. Your code should look something like this:

```python
classroom = ['student', 'student', 'teacher', 'student', ...]
```

In [36]:
tv = [
    'The Boys',
    'Dota 2 on Twitch',
    'Game of Thrones',
    'Hell\'s Kitchen: Surrey, BC',
    'Narcos: Mexico',
    'Black Mirror',
    'Penn & Teller: Fool Us'
]

In [37]:
def check_colon(tv_show):
    return ':' in tv_show

In [38]:
def add_tv_emoji(tv_show):
    return f'ðŸ“º {tv_show}'

In [39]:
add_tv_emoji('The Boys')

'ðŸ“º The Boys'

In [40]:
tv_colon = []
for t in tv:
    if check_colon(t):
         tv_colon.append(t)
tv_colon

["Hell's Kitchen: Surrey, BC", 'Narcos: Mexico', 'Penn & Teller: Fool Us']

In [41]:
tv

['The Boys',
 'Dota 2 on Twitch',
 'Game of Thrones',
 "Hell's Kitchen: Surrey, BC",
 'Narcos: Mexico',
 'Black Mirror',
 'Penn & Teller: Fool Us']

In [42]:
[add_tv_emoji(tv_show) for tv_show in tv]

['ðŸ“º The Boys',
 'ðŸ“º Dota 2 on Twitch',
 'ðŸ“º Game of Thrones',
 "ðŸ“º Hell's Kitchen: Surrey, BC",
 'ðŸ“º Narcos: Mexico',
 'ðŸ“º Black Mirror',
 'ðŸ“º Penn & Teller: Fool Us']

In [43]:
tv_emojis = []
for t in tv:
    te = add_tv_emoji(t)
    tv_emojis.append(te)
tv_emojis

['ðŸ“º The Boys',
 'ðŸ“º Dota 2 on Twitch',
 'ðŸ“º Game of Thrones',
 "ðŸ“º Hell's Kitchen: Surrey, BC",
 'ðŸ“º Narcos: Mexico',
 'ðŸ“º Black Mirror',
 'ðŸ“º Penn & Teller: Fool Us']

In [44]:
[add_tv_emoji(t) for t in tv if check_colon(t)]

["ðŸ“º Hell's Kitchen: Surrey, BC",
 'ðŸ“º Narcos: Mexico',
 'ðŸ“º Penn & Teller: Fool Us']

In [45]:
[f'ðŸ“º {t}' for t in tv if ':' in t]

["ðŸ“º Hell's Kitchen: Surrey, BC",
 'ðŸ“º Narcos: Mexico',
 'ðŸ“º Penn & Teller: Fool Us']

In [46]:
tv_shows = [
    'The Boys',
    'Dota 2 on Twitch',
    'Game of Thrones',
    "Hell's Kitchen - Surrey, BC",
    'Narcos - Mexico',
    'Black Mirror',
    'Penn & Teller - Fool Us'
]

In [47]:
for tv_show in tv_shows:
    print(tv_show)

The Boys
Dota 2 on Twitch
Game of Thrones
Hell's Kitchen - Surrey, BC
Narcos - Mexico
Black Mirror
Penn & Teller - Fool Us

In [48]:
tv_shows

['The Boys',
 'Dota 2 on Twitch',
 'Game of Thrones',
 "Hell's Kitchen - Surrey, BC",
 'Narcos - Mexico',
 'Black Mirror',
 'Penn & Teller - Fool Us']

In [49]:
non_hyphen_shows = [
    tv_show 
    for tv_show in tv_shows 
    if not '-' in tv_show
]

In [50]:
non_hyphen_shows

['The Boys', 'Dota 2 on Twitch', 'Game of Thrones', 'Black Mirror']

In [51]:
print(*map(''.join,zip(3*'ADGBCEF',7*' '+5*'#b')))

A  D  G  B  C  E  F  A# Db G# Bb C# Eb F# Ab D# Gb

In [52]:
tv_colon = []
for t in tv:
    if check_colon(t):
         tv_colon.append(t)
tv_colon

["Hell's Kitchen: Surrey, BC", 'Narcos: Mexico', 'Penn & Teller: Fool Us']

In [53]:
tv_show = 'this is us'

In [54]:
def starts_with_the(tv_show):
    return tv_show.startswith('the')

In [55]:
the = []
for show in tv:
    if starts_with_the(show):
        the.append(show)
the

[]

In [56]:
[show for show in tv if starts_with_the(show)]

[]

In [57]:
numbers = [1, 2, 3, 4]

In [58]:
even = []
for number in numbers:
    if number % 2 == 0:
        print(number)

even

2
4

[]

In [59]:
[number * 3 for number in numbers]

[3, 6, 9, 12]

In machine learning, we'll need to convert strings into numbers. Let's create a function that accepts a string. Return 1 if the string is 'student' and 0 if the string is 'teacher'.

In [60]:
def is_student(person):
    if person == 'student':
        return 1
    else:
        return 0

In [61]:
is_student('teacher')

0

In [62]:
classroom = ['student', 'student', 'teacher']

In [63]:
new_classroom = [is_student(student) for student in classroom]

Now let's use list comprehension along with our function to convert our array of strings into an array of 1's and 0's.

In [64]:
new_classroom

[1, 1, 0]

## Mapping practice: odds and evens

1. Create an array of integers, 1 through 100
2. Create a function that accepts a single integer as a parameter and returns `'odd'` or `'even'`, depending on the input.
3. Use list comprehension to map through your array of integers and retun an array of odd/even strings

In [65]:
languages = [
    ('English', 6),
    ('Spanish', 4),
    ('French', 10),
    ('Python', -1)
]

In [66]:
language = ('English', 6)
language[1]

6

In [67]:
for rating, language in languages:
    print(rating) # bad, wont work

English
Spanish
French
Python

In [68]:
[language for language, rating in languages if rating >= 5]

['English', 'French']

In [69]:
# create an array of integers: 1-100
numbers = list(range(1, 101))

In [70]:
# create a function that accepts a single integer, and returns the string 'odd' or 'even', depending on the integer
def odd_or_even(number):
    if number % 2 == 0:
        return 'even'
    else:
        return 'odd'

In [71]:
odd_or_even(3)

'odd'

In [72]:
# use list comprehension to convert your array of integers to an array of odd/even strings
o_e = [odd_or_even(num) for num in numbers]

## Mapping practice: square the numbers

1. Create an array of integers, 1 through 10
2. Use list comprehension to create an array that squares each number in the original array

In [73]:
# create an array of integers: 1-10
numbers = list(range(1, 11))

In [74]:
# map through the array, squaring each number in the original array. Output should look like below.
[num ** 2 for num in numbers]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Mapping practice: lowercase names

1. Create a list of everyone's names in the classroom
2. Use list comprehension to return an array of lowercase names

In [75]:
[show.capitalize() for show in tv]

['The boys',
 'Dota 2 on twitch',
 'Game of thrones',
 "Hell's kitchen: surrey, bc",
 'Narcos: mexico',
 'Black mirror',
 'Penn & teller: fool us']

In [76]:
show = 'The big bang theory'

def title_case(show):
    show_parts = show.split(' ')
    show = ''
    for part in show_parts:
        show += part.capitalize()
        show += ' '
    return show.strip()
    
title_case('The big bang theory')

'The Big Bang Theory'

In [77]:
[title_case(show) for show in tv if starts_with_the(show)]

[]

In [78]:
titles = []
for show in tv:
    if starts_with_the(show):
        titles.append(title_case(show))
titles

[]

In [79]:
instuctors = ['noyou', 'OKAY', 'nonames', 'AlwaysSunny', 'Donnybrook']

[person.lower() for person in instuctors]

['noyou', 'okay', 'nonames', 'alwayssunny', 'donnybrook']

# Filtering
---

If you have a list of items, but only need a subset of items that meet a certain condition, that's called filtering. 

To illustrate this, let's create a list of dictionaries, one for each person in the classroom. It should look like the following:

```python
classroom = [
    {'name': 'Teacher McTeacherson', 'role': 'teacher'},
    {'name': 'Student McStudentson', 'role': 'student'},
    ...
]
```

In [80]:
classroom = [
    {'name': 'abc', 'role': 'teacher'},
    {'name': 'def', 'role': 'student'},
    {'name': 'ghi', 'role': 'student'},
    {'name': 'jkl', 'role': 'student'},
    {'name': 'mno', 'role': 'student'}
]

In [81]:
classroom

[{'name': 'abc', 'role': 'teacher'},
 {'name': 'def', 'role': 'student'},
 {'name': 'ghi', 'role': 'student'},
 {'name': 'jkl', 'role': 'student'},
 {'name': 'mno', 'role': 'student'}]

In [82]:
[person['name'] for person in classroom if person['role'] == 'student']

['def', 'ghi', 'jkl', 'mno']

In [83]:
[person['name'] for person in classroom if person['role'] == 'student']

['def', 'ghi', 'jkl', 'mno']

# Mapping Dictionaries
---

Mapping is not exclusive to lists. We can also map over dictionaries, but with a subtle difference: we'll wrap our list comprehension in `{}` instead of `[]` to retain the dictionary type.

Let's say we have a dictionary of users with their corresponding emails:

```python
users = {
    'user1': 'FOO@BAR.COM',
    'user2': 'JOHN@DOE.COM',
    'user3': 'YOURGRANDMOTHER@AOL.COM'
}
```

As a precaution, we might want to downcase all the email addresses before saving them to a database. In the block below, map through the `users` dictionary and return the same dictionary, but with all the emails downcased.

In [84]:
users = {
    'user1': 'noyou@GMAIL.COM',
    'user2': 'surethanks@YAHOO.COM',
    'user3': 'nonono@COGECO.COM',
    'user4': 'yesnoyes@GmAIl.com',
    'user5': 'fluffy_bunnies_2003@hotmail.com'
}

In [85]:
users

{'user1': 'noyou@GMAIL.COM',
 'user2': 'surethanks@YAHOO.COM',
 'user3': 'nonono@COGECO.COM',
 'user4': 'yesnoyes@GmAIl.com',
 'user5': 'fluffy_bunnies_2003@hotmail.com'}

In [86]:
for key, value in users.items():
    print(key)
    print(value)

user1
noyou@GMAIL.COM
user2
surethanks@YAHOO.COM
user3
nonono@COGECO.COM
user4
yesnoyes@GmAIl.com
user5
fluffy_bunnies_2003@hotmail.com

In [87]:
{value: key for key, value in users.items()}

{'fluffy_bunnies_2003@hotmail.com': 'user5',
 'nonono@COGECO.COM': 'user3',
 'noyou@GMAIL.COM': 'user1',
 'surethanks@YAHOO.COM': 'user2',
 'yesnoyes@GmAIl.com': 'user4'}

In [88]:
emails = [email.lower() for email in users.values()]
emails = [email for email in emails if 'gmail' not in email]

In [89]:
{email: 0 for email in emails}

{'fluffy_bunnies_2003@hotmail.com': 0,
 'nonono@cogeco.com': 0,
 'surethanks@yahoo.com': 0}

In [90]:
list(users.items())

[('user1', 'noyou@GMAIL.COM'),
 ('user2', 'surethanks@YAHOO.COM'),
 ('user3', 'nonono@COGECO.COM'),
 ('user4', 'yesnoyes@GmAIl.com'),
 ('user5', 'fluffy_bunnies_2003@hotmail.com')]

In [91]:
[email.lower() 
     for email in users.values() 
     if 'gmail' in email.lower()
]

['noyou@gmail.com', 'yesnoyes@gmail.com']

In [92]:
'dsdkf@GMAIL.com'.lower()

'dsdkf@gmail.com'

In [93]:
['lol@gmail.com', 'haha@gmail.com']

['lol@gmail.com', 'haha@gmail.com']