# Functions As Arguments

In [1]:
def yell(text):
    return text.upper() + '!'

bark = yell

In [2]:
bark('Hi Lebron')

'HI LEBRON!'

In [3]:
def greet(func):
    greeting = func('Hi, I am a Python program')
    print(greeting)

In [4]:
def whisper(text):
    return text.lower() + '...'

In [5]:
whisper('HI Lebron')

'hi lebron...'

In [6]:
greet(whisper)

hi, i am a python program...

In [7]:
l = [1, 2, 5, 4, 9, 10]

In [8]:
def do_work(l, func):
    l = [func(l)]
    l.append(2)
    return l

In [9]:
import numpy as np

do_work(l, np.std)

[3.3374973990834644, 2]

# args and kwargs

So what are *args and **kwargs parameters used for? They allow a function to accept optional arguments, so you can create flexible APIs in your modules and classes

In [10]:
def foo(required, *args, **kwargs):
    print(required)
    if args:
        print(args)
    if kwargs:
        print(kwargs)

In [11]:
foo('hello', student='luka')

hello
{'student': 'luka'}

To be clear, calling the parameters args and kwargs is simply a naming convention. The previous example would work just as well if you called them \*parms and \**argv. The actual syntax is just the asterisk (\*) or double asterisk (\**), respectively

# Dictionary Pretty-Printing

I'm often frustrated with how difficult it to read some data structures in Python when they’re printed as text strings...

In [12]:
pokemon = {
    'pikachu': {
        'power': 100, 
        'hp': 20
    }, 
    'mewtwo': {
        'power': 100, 
        'hp': 20
    }
}

print(pokemon)

{'pikachu': {'power': 100, 'hp': 20}, 'mewtwo': {'power': 100, 'hp': 20}}

Luckily there are some easy-to-use alternatives to a straight up to-str conversion that give a more readable result. One option is using Python’s built-in json module. You can use json.dumps() to pretty-print Python dicts with nicer formatting:

In [13]:
import json

print(json.dumps(pokemon, indent=4, sort_keys=True))

{
    "mewtwo": {
        "hp": 20,
        "power": 100
    },
    "pikachu": {
        "hp": 20,
        "power": 100
    }
}

# Unicode Characters

In [14]:
import math

π = math.pi

print(π)

3.141592653589793

In [15]:
α = 'hi'

In [16]:
α

'hi'

In [17]:
Σ = sum

Σ([1, 2, 3])

6

In [18]:
Σ(i for i in range(10))

45

# Progress ...

In [19]:
import time
import sys

for progress in range(100+1):
    time.sleep(0.1)
    sys.stdout.write(f"Download progress: {progress}% \r" ) 
    sys.stdout.flush()

In [20]:
from tqdm import tqdm

for i in tqdm(range(10)):
    time.sleep(0.5)

100%|██████████| 10/10 [00:05<00:00,  1.98it/s]

# list comprehensions + dir()

In [21]:
[method for method in dir(str) if not method.startswith('__')]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [22]:
import datetime
[_ for _ in dir(datetime) if 'date' in _.lower()]

['date', 'datetime', 'datetime_CAPI']

In [23]:
dir('max')[:10]

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__']

In [24]:
[method for method in dir('max') if not method.startswith('__')][:10]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map']

# Passwords

In [25]:
import string
import random

password_generator = lambda n: "".join([random.choice(string.ascii_letters) for i in range(n)])

In [26]:
def password_generator(n):
    return "".join([random.choice(string.ascii_letters) for i in range(n)])

In [27]:
password_generator(12)

'vVqZTbxeXKyU'

In [28]:
password = input('What is your password? ')

What is your password? vVqZTbxeXKyU

In [29]:
password = input()

vVqZTbxeXKyU

In [30]:
import getpass
password = getpass.getpass()

········

In [31]:
password

'vVqZTbxeXKyU'

# Calendar

In [32]:
import calendar

cal = calendar.month(1943,1)

print(cal)

    January 1943
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

# Assertions

In [33]:
shoes = {'name': 'Nike', 'price': 165}

In [34]:
promocode = input()

hg728912

In [35]:
if promocode == 'hg728912':
    print('yay! you get a 15% discount')

yay! you get a 15% discount

In [36]:
def apply_discount(product, discount):
    if discount > 1:
        return 'Sorry'
    else:
        return int(product['price'] * (1.0 - discount))

In [37]:
apply_discount(shoes, 2)

'Sorry'

In [38]:
def apply_discount(product, discount):
    price = int(product['price'] * (1.0 - discount))
    assert 0 <= price <= product['price'], 'that\'s too much'
    return price

In [39]:
apply_discount(shoes, 1.01)

AssertionError: that's too much

In [40]:
apply_discount(shoes, 2)

AssertionError: that's too much

# Lambda Sorting

In [41]:
x = [1, 4, 2, 999, 1e9, 3, 73]

In [42]:
print(x)

[1, 4, 2, 999, 1000000000.0, 3, 73]

In [43]:
x.sort()

In [44]:
x

[1, 2, 3, 4, 73, 999, 1000000000.0]

In [45]:
x = [1, 4, 2, 999, 1e9, 3, 73]

In [46]:
x = sorted(x)

In [47]:
x

[1, 2, 3, 4, 73, 999, 1000000000.0]

In [48]:
sorted(x, reverse=True)

[1000000000.0, 999, 73, 4, 3, 2, 1]

In [49]:
sorted(x, key=lambda x: -x)

[1000000000.0, 999, 73, 4, 3, 2, 1]

In [50]:
x = [1, -4, -14, 14, 15, 73, 1990, -77]

In [51]:
sorted(x, key=lambda x: x*x)

[1, -4, -14, 14, 15, 73, -77, 1990]

In [52]:
snacks = [
    {'snack': 'doritos', 'price': 4.99}, 
    {'snack': 'reeses', 'price': 2.50},
    {'snack': 'twizzlers', 'price': 3.45},
    {'snack': 'pretzles', 'price': 1.25}
]

In [53]:
snack = snacks[0]

In [54]:
snack['price']

4.99

In [55]:
sorted(snacks, key=lambda x: x['price'])

[{'price': 1.25, 'snack': 'pretzles'},
 {'price': 2.5, 'snack': 'reeses'},
 {'price': 3.45, 'snack': 'twizzlers'},
 {'price': 4.99, 'snack': 'doritos'}]

In [56]:
tuples = [(1, 'd'), (2, 'b'), (4, 'a'), (3, 'c')]
sorted(tuples, key=lambda x: x[0])

[(1, 'd'), (2, 'b'), (3, 'c'), (4, 'a')]

# Negative Rounding

In [57]:
round(1494.4503428320200, -2)

1500.0

# itertools.product

![](https://kanoki.org/wp-content/uploads/2019/02/image.png)

In [58]:
import itertools

In [59]:
A = ['x', 'y', 'z']
B = [1, 2, 3]

In [60]:
positions = ['qb','te','wr','rb']
pages = [0, 20, 40, 60, 80, 100]
teams = ['jags', 'lions', 'broncos', 'steelers']

combos = list(itertools.product(positions, pages, teams))

In [61]:
combos

[('qb', 0, 'jags'),
 ('qb', 0, 'lions'),
 ('qb', 0, 'broncos'),
 ('qb', 0, 'steelers'),
 ('qb', 20, 'jags'),
 ('qb', 20, 'lions'),
 ('qb', 20, 'broncos'),
 ('qb', 20, 'steelers'),
 ('qb', 40, 'jags'),
 ('qb', 40, 'lions'),
 ('qb', 40, 'broncos'),
 ('qb', 40, 'steelers'),
 ('qb', 60, 'jags'),
 ('qb', 60, 'lions'),
 ('qb', 60, 'broncos'),
 ('qb', 60, 'steelers'),
 ('qb', 80, 'jags'),
 ('qb', 80, 'lions'),
 ('qb', 80, 'broncos'),
 ('qb', 80, 'steelers'),
 ('qb', 100, 'jags'),
 ('qb', 100, 'lions'),
 ('qb', 100, 'broncos'),
 ('qb', 100, 'steelers'),
 ('te', 0, 'jags'),
 ('te', 0, 'lions'),
 ('te', 0, 'broncos'),
 ('te', 0, 'steelers'),
 ('te', 20, 'jags'),
 ('te', 20, 'lions'),
 ('te', 20, 'broncos'),
 ('te', 20, 'steelers'),
 ('te', 40, 'jags'),
 ('te', 40, 'lions'),
 ('te', 40, 'broncos'),
 ('te', 40, 'steelers'),
 ('te', 60, 'jags'),
 ('te', 60, 'lions'),
 ('te', 60, 'broncos'),
 ('te', 60, 'steelers'),
 ('te', 80, 'jags'),
 ('te', 80, 'lions'),
 ('te', 80, 'broncos'),
 ('te', 80, 'steelers'),
 ('te', 100, 'jags'),
 ('te', 100, 'lions'),
 ('te', 100, 'broncos'),
 ('te', 100, 'steelers'),
 ('wr', 0, 'jags'),
 ('wr', 0, 'lions'),
 ('wr', 0, 'broncos'),
 ('wr', 0, 'steelers'),
 ('wr', 20, 'jags'),
 ('wr', 20, 'lions'),
 ('wr', 20, 'broncos'),
 ('wr', 20, 'steelers'),
 ('wr', 40, 'jags'),
 ('wr', 40, 'lions'),
 ('wr', 40, 'broncos'),
 ('wr', 40, 'steelers'),
 ('wr', 60, 'jags'),
 ('wr', 60, 'lions'),
 ('wr', 60, 'broncos'),
 ('wr', 60, 'steelers'),
 ('wr', 80, 'jags'),
 ('wr', 80, 'lions'),
 ('wr', 80, 'broncos'),
 ('wr', 80, 'steelers'),
 ('wr', 100, 'jags'),
 ('wr', 100, 'lions'),
 ('wr', 100, 'broncos'),
 ('wr', 100, 'steelers'),
 ('rb', 0, 'jags'),
 ('rb', 0, 'lions'),
 ('rb', 0, 'broncos'),
 ('rb', 0, 'steelers'),
 ('rb', 20, 'jags'),
 ('rb', 20, 'lions'),
 ('rb', 20, 'broncos'),
 ('rb', 20, 'steelers'),
 ('rb', 40, 'jags'),
 ('rb', 40, 'lions'),
 ('rb', 40, 'broncos'),
 ('rb', 40, 'steelers'),
 ('rb', 60, 'jags'),
 ('rb', 60, 'lions'),
 ('rb', 60, 'broncos'),
 ('rb', 60, 'steelers'),
 ('rb', 80, 'jags'),
 ('rb', 80, 'lions'),
 ('rb', 80, 'broncos'),
 ('rb', 80, 'steelers'),
 ('rb', 100, 'jags'),
 ('rb', 100, 'lions'),
 ('rb', 100, 'broncos'),
 ('rb', 100, 'steelers')]

In [62]:
for combo in combos:
    position, page, team = combo
    print(f'nfl.com/player={position}&page={page}&team={team}')

nfl.com/player=qb&page=0&team=jags
nfl.com/player=qb&page=0&team=lions
nfl.com/player=qb&page=0&team=broncos
nfl.com/player=qb&page=0&team=steelers
nfl.com/player=qb&page=20&team=jags
nfl.com/player=qb&page=20&team=lions
nfl.com/player=qb&page=20&team=broncos
nfl.com/player=qb&page=20&team=steelers
nfl.com/player=qb&page=40&team=jags
nfl.com/player=qb&page=40&team=lions
nfl.com/player=qb&page=40&team=broncos
nfl.com/player=qb&page=40&team=steelers
nfl.com/player=qb&page=60&team=jags
nfl.com/player=qb&page=60&team=lions
nfl.com/player=qb&page=60&team=broncos
nfl.com/player=qb&page=60&team=steelers
nfl.com/player=qb&page=80&team=jags
nfl.com/player=qb&page=80&team=lions
nfl.com/player=qb&page=80&team=broncos
nfl.com/player=qb&page=80&team=steelers
nfl.com/player=qb&page=100&team=jags
nfl.com/player=qb&page=100&team=lions
nfl.com/player=qb&page=100&team=broncos
nfl.com/player=qb&page=100&team=steelers
nfl.com/player=te&page=0&team=jags
nfl.com/player=te&page=0&team=lions
nfl.com/player=te&page=0&team=broncos
nfl.com/player=te&page=0&team=steelers
nfl.com/player=te&page=20&team=jags
nfl.com/player=te&page=20&team=lions
nfl.com/player=te&page=20&team=broncos
nfl.com/player=te&page=20&team=steelers
nfl.com/player=te&page=40&team=jags
nfl.com/player=te&page=40&team=lions
nfl.com/player=te&page=40&team=broncos
nfl.com/player=te&page=40&team=steelers
nfl.com/player=te&page=60&team=jags
nfl.com/player=te&page=60&team=lions
nfl.com/player=te&page=60&team=broncos
nfl.com/player=te&page=60&team=steelers
nfl.com/player=te&page=80&team=jags
nfl.com/player=te&page=80&team=lions
nfl.com/player=te&page=80&team=broncos
nfl.com/player=te&page=80&team=steelers
nfl.com/player=te&page=100&team=jags
nfl.com/player=te&page=100&team=lions
nfl.com/player=te&page=100&team=broncos
nfl.com/player=te&page=100&team=steelers
nfl.com/player=wr&page=0&team=jags
nfl.com/player=wr&page=0&team=lions
nfl.com/player=wr&page=0&team=broncos
nfl.com/player=wr&page=0&team=steelers
nfl.com/player=wr&page=20&team=jags
nfl.com/player=wr&page=20&team=lions
nfl.com/player=wr&page=20&team=broncos
nfl.com/player=wr&page=20&team=steelers
nfl.com/player=wr&page=40&team=jags
nfl.com/player=wr&page=40&team=lions
nfl.com/player=wr&page=40&team=broncos
nfl.com/player=wr&page=40&team=steelers
nfl.com/player=wr&page=60&team=jags
nfl.com/player=wr&page=60&team=lions
nfl.com/player=wr&page=60&team=broncos
nfl.com/player=wr&page=60&team=steelers
nfl.com/player=wr&page=80&team=jags
nfl.com/player=wr&page=80&team=lions
nfl.com/player=wr&page=80&team=broncos
nfl.com/player=wr&page=80&team=steelers
nfl.com/player=wr&page=100&team=jags
nfl.com/player=wr&page=100&team=lions
nfl.com/player=wr&page=100&team=broncos
nfl.com/player=wr&page=100&team=steelers
nfl.com/player=rb&page=0&team=jags
nfl.com/player=rb&page=0&team=lions
nfl.com/player=rb&page=0&team=broncos
nfl.com/player=rb&page=0&team=steelers
nfl.com/player=rb&page=20&team=jags
nfl.com/player=rb&page=20&team=lions
nfl.com/player=rb&page=20&team=broncos
nfl.com/player=rb&page=20&team=steelers
nfl.com/player=rb&page=40&team=jags
nfl.com/player=rb&page=40&team=lions
nfl.com/player=rb&page=40&team=broncos
nfl.com/player=rb&page=40&team=steelers
nfl.com/player=rb&page=60&team=jags
nfl.com/player=rb&page=60&team=lions
nfl.com/player=rb&page=60&team=broncos
nfl.com/player=rb&page=60&team=steelers
nfl.com/player=rb&page=80&team=jags
nfl.com/player=rb&page=80&team=lions
nfl.com/player=rb&page=80&team=broncos
nfl.com/player=rb&page=80&team=steelers
nfl.com/player=rb&page=100&team=jags
nfl.com/player=rb&page=100&team=lions
nfl.com/player=rb&page=100&team=broncos
nfl.com/player=rb&page=100&team=steelers

# itertools.chain

In [63]:
# flatten this list:

l = [[1, 2, 3], [4, 5, 6, 1, 2], [7], [8, 9]]

In [64]:
flat_list = [item for sublist in l for item in sublist]

In [65]:
flat_list

[1, 2, 3, 4, 5, 6, 1, 2, 7, 8, 9]

In [66]:
list(itertools.chain(*l))

[1, 2, 3, 4, 5, 6, 1, 2, 7, 8, 9]

# itertools.permuations

![](https://kanoki.org/wp-content/uploads/2019/02/image-2.png)

In [67]:
obj = itertools.permutations(['blue', 'red', 'green'])
print(list(obj))

[('blue', 'red', 'green'), ('blue', 'green', 'red'), ('red', 'blue', 'green'), ('red', 'green', 'blue'), ('green', 'blue', 'red'), ('green', 'red', 'blue')]

# itertools.combinations

![](https://kanoki.org/wp-content/uploads/2019/02/image-3.png)

In [68]:
classroom = ['Lebron', 'James', 'Anthony', 'Luka', 'Giannas', 'Aja', 'Breanna', 'Brittney', 'Adam']

In [69]:
list(itertools.combinations(classroom, 1))

[('Lebron',),
 ('James',),
 ('Anthony',),
 ('Luka',),
 ('Giannas',),
 ('Aja',),
 ('Breanna',),
 ('Brittney',),
 ('Adam',)]

In [70]:
list(itertools.combinations(classroom, 2))

[('Lebron', 'James'),
 ('Lebron', 'Anthony'),
 ('Lebron', 'Luka'),
 ('Lebron', 'Giannas'),
 ('Lebron', 'Aja'),
 ('Lebron', 'Breanna'),
 ('Lebron', 'Brittney'),
 ('Lebron', 'Adam'),
 ('James', 'Anthony'),
 ('James', 'Luka'),
 ('James', 'Giannas'),
 ('James', 'Aja'),
 ('James', 'Breanna'),
 ('James', 'Brittney'),
 ('James', 'Adam'),
 ('Anthony', 'Luka'),
 ('Anthony', 'Giannas'),
 ('Anthony', 'Aja'),
 ('Anthony', 'Breanna'),
 ('Anthony', 'Brittney'),
 ('Anthony', 'Adam'),
 ('Luka', 'Giannas'),
 ('Luka', 'Aja'),
 ('Luka', 'Breanna'),
 ('Luka', 'Brittney'),
 ('Luka', 'Adam'),
 ('Giannas', 'Aja'),
 ('Giannas', 'Breanna'),
 ('Giannas', 'Brittney'),
 ('Giannas', 'Adam'),
 ('Aja', 'Breanna'),
 ('Aja', 'Brittney'),
 ('Aja', 'Adam'),
 ('Breanna', 'Brittney'),
 ('Breanna', 'Adam'),
 ('Brittney', 'Adam')]

In [71]:
list(itertools.combinations(classroom, 3))

[('Lebron', 'James', 'Anthony'),
 ('Lebron', 'James', 'Luka'),
 ('Lebron', 'James', 'Giannas'),
 ('Lebron', 'James', 'Aja'),
 ('Lebron', 'James', 'Breanna'),
 ('Lebron', 'James', 'Brittney'),
 ('Lebron', 'James', 'Adam'),
 ('Lebron', 'Anthony', 'Luka'),
 ('Lebron', 'Anthony', 'Giannas'),
 ('Lebron', 'Anthony', 'Aja'),
 ('Lebron', 'Anthony', 'Breanna'),
 ('Lebron', 'Anthony', 'Brittney'),
 ('Lebron', 'Anthony', 'Adam'),
 ('Lebron', 'Luka', 'Giannas'),
 ('Lebron', 'Luka', 'Aja'),
 ('Lebron', 'Luka', 'Breanna'),
 ('Lebron', 'Luka', 'Brittney'),
 ('Lebron', 'Luka', 'Adam'),
 ('Lebron', 'Giannas', 'Aja'),
 ('Lebron', 'Giannas', 'Breanna'),
 ('Lebron', 'Giannas', 'Brittney'),
 ('Lebron', 'Giannas', 'Adam'),
 ('Lebron', 'Aja', 'Breanna'),
 ('Lebron', 'Aja', 'Brittney'),
 ('Lebron', 'Aja', 'Adam'),
 ('Lebron', 'Breanna', 'Brittney'),
 ('Lebron', 'Breanna', 'Adam'),
 ('Lebron', 'Brittney', 'Adam'),
 ('James', 'Anthony', 'Luka'),
 ('James', 'Anthony', 'Giannas'),
 ('James', 'Anthony', 'Aja'),
 ('James', 'Anthony', 'Breanna'),
 ('James', 'Anthony', 'Brittney'),
 ('James', 'Anthony', 'Adam'),
 ('James', 'Luka', 'Giannas'),
 ('James', 'Luka', 'Aja'),
 ('James', 'Luka', 'Breanna'),
 ('James', 'Luka', 'Brittney'),
 ('James', 'Luka', 'Adam'),
 ('James', 'Giannas', 'Aja'),
 ('James', 'Giannas', 'Breanna'),
 ('James', 'Giannas', 'Brittney'),
 ('James', 'Giannas', 'Adam'),
 ('James', 'Aja', 'Breanna'),
 ('James', 'Aja', 'Brittney'),
 ('James', 'Aja', 'Adam'),
 ('James', 'Breanna', 'Brittney'),
 ('James', 'Breanna', 'Adam'),
 ('James', 'Brittney', 'Adam'),
 ('Anthony', 'Luka', 'Giannas'),
 ('Anthony', 'Luka', 'Aja'),
 ('Anthony', 'Luka', 'Breanna'),
 ('Anthony', 'Luka', 'Brittney'),
 ('Anthony', 'Luka', 'Adam'),
 ('Anthony', 'Giannas', 'Aja'),
 ('Anthony', 'Giannas', 'Breanna'),
 ('Anthony', 'Giannas', 'Brittney'),
 ('Anthony', 'Giannas', 'Adam'),
 ('Anthony', 'Aja', 'Breanna'),
 ('Anthony', 'Aja', 'Brittney'),
 ('Anthony', 'Aja', 'Adam'),
 ('Anthony', 'Breanna', 'Brittney'),
 ('Anthony', 'Breanna', 'Adam'),
 ('Anthony', 'Brittney', 'Adam'),
 ('Luka', 'Giannas', 'Aja'),
 ('Luka', 'Giannas', 'Breanna'),
 ('Luka', 'Giannas', 'Brittney'),
 ('Luka', 'Giannas', 'Adam'),
 ('Luka', 'Aja', 'Breanna'),
 ('Luka', 'Aja', 'Brittney'),
 ('Luka', 'Aja', 'Adam'),
 ('Luka', 'Breanna', 'Brittney'),
 ('Luka', 'Breanna', 'Adam'),
 ('Luka', 'Brittney', 'Adam'),
 ('Giannas', 'Aja', 'Breanna'),
 ('Giannas', 'Aja', 'Brittney'),
 ('Giannas', 'Aja', 'Adam'),
 ('Giannas', 'Breanna', 'Brittney'),
 ('Giannas', 'Breanna', 'Adam'),
 ('Giannas', 'Brittney', 'Adam'),
 ('Aja', 'Breanna', 'Brittney'),
 ('Aja', 'Breanna', 'Adam'),
 ('Aja', 'Brittney', 'Adam'),
 ('Breanna', 'Brittney', 'Adam')]

# collections.Counter

The collections.Counter class in the Python standard library implements a multiset (or bag) type that allows elements in the set to have more than one occurrence.

This is useful if you need to keep track of not only if an element is part of a set, but also how many times it is included in the set:

In [72]:
from collections import Counter
inventory = Counter()

In [73]:
loot = {'apple': 1, 'gold': 10, 'sword': 2}

In [74]:
inventory.update(loot)

In [75]:
inventory

Counter({'apple': 1, 'gold': 10, 'sword': 2})

In [76]:
more_loot = {'sword': 1, 'apple': 1}
inventory.update(more_loot)

In [77]:
inventory

Counter({'apple': 2, 'gold': 10, 'sword': 3})

In [78]:
len(inventory)

3

In [79]:
sum(inventory.values())

15

In [80]:
inventory.most_common(2)

[('gold', 10), ('sword', 3)]

In [81]:
inventory

Counter({'apple': 2, 'gold': 10, 'sword': 3})

In [82]:
words = [
  'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
  'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
  'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
  'my', 'eyes', "you're", 'under'
]

word_counts = Counter(words)
top_three = word_counts.most_common(3)
print(top_three)

[('eyes', 8), ('the', 5), ('look', 4)]

In [83]:
word_counts.update({'eyes': 1})

In [84]:
word_counts.most_common(5)

[('eyes', 9), ('the', 5), ('look', 4), ('into', 3), ('my', 3)]

In [85]:
def is_anagram(str1, str2):
     return Counter(str1) == Counter(str2)
    
is_anagram('abcd', 'dbca')

True

In [86]:
is_anagram('abcd','dbaa')

False

In [87]:
import subprocess

subprocess.check_output(['pwd'], shell=True).decode('utf-8')

'/Users/brandonanhorn19/Documents/data_science_playbook/1.00-FLEX-useful_python\n'

In [88]:
print(subprocess.check_output(['ifconfig'], shell=True).decode('utf-8'))

lo0: flags=8049<UP,LOOPBACK,RUNNING,MULTICAST> mtu 16384
	options=1203<RXCSUM,TXCSUM,TXSTATUS,SW_TIMESTAMP>
	inet 127.0.0.1 netmask 0xff000000
	inet6 ::1 prefixlen 128
	inet6 fe80::1%lo0 prefixlen 64 scopeid 0x1
	nd6 options=201<PERFORMNUD,DAD>
gif0: flags=8010<POINTOPOINT,MULTICAST> mtu 1280
stf0: flags=0<> mtu 1280
en0: flags=8863<UP,BROADCAST,SMART,RUNNING,SIMPLEX,MULTICAST> mtu 1500
	options=50b<RXCSUM,TXCSUM,VLAN_HWTAGGING,AV,CHANNEL_IO>
	ether ac:87:a3:26:30:da
	nd6 options=201<PERFORMNUD,DAD>
	media: autoselect (none)
	status: inactive
en1: flags=8863<UP,BROADCAST,SMART,RUNNING,SIMPLEX,MULTICAST> mtu 1500
	options=400<CHANNEL_IO>
	ether b8:09:8a:c5:dc:79
	inet6 fe80::181f:290:f2f2:ac89%en1 prefixlen 64 secured scopeid 0x5
	inet6 2604:3d09:2280:120:8a6:50df:e6a6:82e3 prefixlen 64 autoconf secured
	inet6 2604:3d09:2280:120:6441:51c8:32c6:b8dc prefixlen 64 deprecated autoconf temporary
	inet6 2604:3d09:2280:120::ec59 prefixlen 64 dynamic
	inet6 2604:3d09:2280:120:e4f2:1e9d:d5c1:bee8 prefixlen 64 deprecated autoconf temporary
	inet6 2604:3d09:2280:120:e944:e9f3:fb0c:1053 prefixlen 64 deprecated autoconf temporary
	inet6 2604:3d09:2280:120:7c04:44e2:f3c2:4108 prefixlen 64 deprecated autoconf temporary
	inet6 2604:3d09:2280:120:fd00:ca47:a599:c57f prefixlen 64 deprecated autoconf temporary
	inet6 2604:3d09:2280:120:b866:43f9:8d9f:88f9 prefixlen 64 autoconf temporary
	inet 10.0.0.8 netmask 0xffffff00 broadcast 10.0.0.255
	nd6 options=201<PERFORMNUD,DAD>
	media: autoselect
	status: active
en2: flags=8963<UP,BROADCAST,SMART,RUNNING,PROMISC,SIMPLEX,MULTICAST> mtu 1500
	options=460<TSO4,TSO6,CHANNEL_IO>
	ether 82:0d:4d:cd:00:00
	media: autoselect <full-duplex>
	status: inactive
en3: flags=8963<UP,BROADCAST,SMART,RUNNING,PROMISC,SIMPLEX,MULTICAST> mtu 1500
	options=460<TSO4,TSO6,CHANNEL_IO>
	ether 82:0d:4d:cd:00:01
	media: autoselect <full-duplex>
	status: inactive
bridge0: flags=8863<UP,BROADCAST,SMART,RUNNING,SIMPLEX,MULTICAST> mtu 1500
	options=63<RXCSUM,TXCSUM,TSO4,TSO6>
	ether 82:0d:4d:cd:00:00
	Configuration:
		id 0:0:0:0:0:0 priority 0 hellotime 0 fwddelay 0
		maxage 0 holdcnt 0 proto stp maxaddr 100 timeout 1200
		root id 0:0:0:0:0:0 priority 0 ifcost 0 port 0
		ipfilter disabled flags 0x0
	member: en2 flags=3<LEARNING,DISCOVER>
	        ifmaxaddr 0 port 6 priority 0 path cost 0
	member: en3 flags=3<LEARNING,DISCOVER>
	        ifmaxaddr 0 port 7 priority 0 path cost 0
	nd6 options=201<PERFORMNUD,DAD>
	media: <unknown type>
	status: inactive
p2p0: flags=8843<UP,BROADCAST,RUNNING,SIMPLEX,MULTICAST> mtu 2304
	options=400<CHANNEL_IO>
	ether 0a:09:8a:c5:dc:79
	media: autoselect
	status: inactive
awdl0: flags=8943<UP,BROADCAST,RUNNING,PROMISC,SIMPLEX,MULTICAST> mtu 1484
	options=400<CHANNEL_IO>
	ether 7e:5f:38:9a:f3:76
	inet6 fe80::7c5f:38ff:fe9a:f376%awdl0 prefixlen 64 scopeid 0xa
	nd6 options=201<PERFORMNUD,DAD>
	media: autoselect
	status: active
llw0: flags=8863<UP,BROADCAST,SMART,RUNNING,SIMPLEX,MULTICAST> mtu 1500
	options=400<CHANNEL_IO>
	ether 7e:5f:38:9a:f3:76
	inet6 fe80::7c5f:38ff:fe9a:f376%llw0 prefixlen 64 scopeid 0xb
	nd6 options=201<PERFORMNUD,DAD>
	media: autoselect
	status: active
utun0: flags=8051<UP,POINTOPOINT,RUNNING,MULTICAST> mtu 1380
	inet6 fe80::ba9d:d66c:98d0:961c%utun0 prefixlen 64 scopeid 0xc
	nd6 options=201<PERFORMNUD,DAD>
utun1: flags=8051<UP,POINTOPOINT,RUNNING,MULTICAST> mtu 2000
	inet6 fe80::2dde:bd35:fd24:db1b%utun1 prefixlen 64 scopeid 0xd
	nd6 options=201<PERFORMNUD,DAD>
utun2: flags=8051<UP,POINTOPOINT,RUNNING,MULTICAST> mtu 1380
	inet6 fe80::457:e253:c0f3:2485%utun2 prefixlen 64 scopeid 0xe
	nd6 options=201<PERFORMNUD,DAD>
utun3: flags=8051<UP,POINTOPOINT,RUNNING,MULTICAST> mtu 1380
	inet6 fe80::b1a4:1e0:9ac:2321%utun3 prefixlen 64 scopeid 0xf
	nd6 options=201<PERFORMNUD,DAD>

# Simple Server

In [89]:
#!python -m http.server 1323

## Textwrap

In [90]:
import textwrap

text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'

for line in textwrap.wrap(text, 50):
    print(line)

Lorem ipsum dolor sit amet, consectetur adipiscing
elit, sed do eiusmod tempor incididunt ut labore
et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut
aliquip ex ea commodo consequat. Duis aute irure
dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur.